:root {
    --condition-primary: #79B473;
    --condition-secondary: rgb(91, 136, 86);
    --action-primary: #70A37F;
    --action-secondary: #70A37F;
    --state-primary: #41658A;
    --state-secondary: #41658A;
    --transform-primary: #414073;
    --transform-secondary: #2A294A;
    --state-node: #DBCFB0;
    --neighbours-node: #686868;
    --background: #C9C9EE;
    --colorpicker-background: #C9C9EE;
    --default-connector: #C9C9EE;
    --action-connector: #C9C9EE;
    --endpoint: #DBCFB0;
  }